.avatar-page-main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* gap: 10px; */
  padding: 10px;
  /* background-color: #f9fafb; */
  min-height: 100vh;
  box-sizing: border-box;
  border: solid red;
  height: auto;
  /* background: linear-gradient(90deg, #6a11cb, #7349ce); */
  background-color: rgba(118,48,237,255);
}

.avatar-section, 
.video-call-section {
  padding: 16px;
  display: flex;
  justify-content: center;
  /* border: solid; */
}

.avatar-section {
  flex: 1;
  max-width: 800px;
}

.video-call-section {
  flex: 1;
  max-width: 450px;
  min-height: auto;
}
