.canvas-avatar {
    width: 100% !important;
    height: 100% !important;
    display: block;
    border: none !important;
}

.canvas-main-div {
    width: 750px;
    height: 400px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/035/093/911/non_2x/you-can-use-the-blurred-focus-of-a-white-open-space-office-interior-as-a-background-with-wooden-table-free-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* border: solid; */
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.avatar-Btn {
    position: relative;
    left: 270px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background: green;
    color: #fff;
    border: none;
    bottom: 79px;
}

/* .show-current-question{
    border: solid;
    height: 110px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
} */

.question-box {
  margin-top: 10px;
  background: #e1ffc7;
  padding: 12px 16px;
  border-radius: 10px;
  max-width: 60%;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  height: 100px;
}
