.canvas-avatar {
    width: 100% !important;
    height: 100% !important;
    display: block;
}

.canvas-main-div {
    /* border: solid red; */
    /* width: 50%; */
    width: 696px;
    height: 400px;
}

.avatar-Btn {
    position: relative;
    /* top: 60px; */
    left: 270px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background: green;
    color: #fff;
    border: none;
    bottom: 79px;
}