.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  max-width: 900px;
  width: 90%;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #4b0082; /* purple */
}

p {
  color: #555;
  margin-bottom: 1.5rem;
}

.dropdown-row {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.dropdown-row select {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  min-width: 180px;
}

.start-btn {
  padding: 0.8rem 1.2rem;
  background: linear-gradient(90deg, #a855f7, #ec4899);
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.start-btn:hover {
  opacity: 0.9;
}


.select-job{
  border: solid;
  color: #9D00E0;
  font-weight: bold;
}