.interview-container {
    display: flex;
    height: 100vh;
    background: #fdfdfd;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    width: 16%;
    background: #fafafa;
    border-right: 1px solid #eee;
    padding: 25px 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 14px;
    margin-bottom: 12px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    color: #444;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.sidebar li:hover {
    background: #f1f1f1;
}

.sidebar li.active {
    background: linear-gradient(135deg, #8a2be2, #6c63ff);
    color: #fff;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(108, 99, 255, 0.3);
}


.question-area {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.question-area p {
    font-size: 20px;
    font-weight: 600;
    color: #2e2e2e;
    text-align: center;
    line-height: 1.5;
}


.video-area {
    width: 35%;
    border-left: 1px solid #eee;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-box {
    width: 100%;
    height: 260px;
    background: #f4f4f4;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.video-box video {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}


.buttons {
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

.record-download-btn {
    border: solid;
    background: linear-gradient(135deg, #8a2be2, #6c63ff);
    color: white;
}

.record-download-btn a {
    text-decoration: none;
    color: white;
}

.buttons button {
    border: solid;
    padding: 12px 26px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease;
}

.buttons .share{
    background-color: #e0e0e0;
    color: black;
}


button.download {
    background: linear-gradient(135deg, #6c63ff, #8a2be2);
}

button.download:hover {
    transform: scale(1.05);
}

button.delete {
    background: linear-gradient(135deg, #ff4b2b, #ff416c);
}

button.delete:hover {
    transform: scale(1.05);
}