.video-Call-main-div{
    border: solid;
}

.video-call{
    border: solid red;
    width: 300px;
    border-radius: 12px;
}

.video-Call-title-div{
    border: solid;
    display: flex;
    flex-direction: column;
}

.video-Call-title-div h3{
    color: #8c52fe;
    font-size: 1.5rem;
}


.video-Call-title-div p{
    color: gray;
    /* font-size: 1.5rem; */
}